{{#each comments}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Comments</h5>
          <p><strong>Intonation</strong>: {{this.intonation}}</p>
          <p><strong>Rhythm</strong>: {{this.rhythm}}</p>
          <p><strong>Musicality</strong>: {{this.musicality}}</p>
          <p><strong>Tone</strong>: {{this.tone}}</p>
          <p><strong>Comments</strong>: {{this.comments}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{else}}
<h1>No comments for {{empty}}</h1>

{{/each}}
